<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="row">

    <!-- Total Users -->
    <div class="col-xl-3 col-md-6">
        <a href="/admin/users"> <!-- Link for All Users -->
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-4">Total Users</h4>

                    <div class="widget-chart-1">
                        <div class="widget-chart-box-1 float-start" dir="ltr">
                            <input data-plugin="knob" data-width="70" data-height="70" data-fgColor="#f05050"
                                   data-bgColor="#F9B9B9" value="<%= totalUsers %>"
                                   data-skin="tron" data-angleOffset="180" data-readOnly="true"
                                   data-thickness=".15"/>
                        </div>

                        <div class="widget-detail-1 text-end">
                            <h2 class="fw-normal pt-2 mb-1"><%= totalUsers %></h2>
                            <p class="text-muted mb-1">Total Users</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div><!-- end col -->

    <!-- Total Quests -->
    <div class="col-xl-3 col-md-6">
        <a href="/admin/quests"> <!-- Link for All Quests -->
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-3">Total Quest</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-end">
                            <span class="badge bg-success rounded-pill float-start mt-3">32% <i class="mdi mdi-trending-up"></i> </span>
                            <h2 class="fw-normal mb-1"><%= totalQuests %></h2>
                            <p class="text-muted mb-3">Total Quests</p>
                        </div>
                        <div class="progress progress-bar-alt-success progress-sm">
                            <div class="progress-bar bg-success" role="progressbar"
                                 aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 77%;">
                                <span class="visually-hidden">77% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div><!-- end col -->

    <!-- Total Companies -->
    <div class="col-xl-3 col-md-6">
        <a href="/admin/companies"> <!-- Link for All Companies -->
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-4">Companies</h4>

                    <div class="widget-chart-1">
                        <div class="widget-chart-box-1 float-start" dir="ltr">
                            <input data-plugin="knob" data-width="70" data-height="70" data-fgColor="#ffbd4a"
                                   data-bgColor="#FFE6BA" value="<%= totalCompanies %>"
                                   data-skin="tron" data-angleOffset="180" data-readOnly="true"
                                   data-thickness=".15"/>
                        </div>
                        <div class="widget-detail-1 text-end">
                            <h2 class="fw-normal pt-2 mb-1"><%= totalCompanies %></h2>
                            <p class="text-muted mb-1">Total Companies</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div><!-- end col -->

</div>

<!-- ============================================================== -->
<!-- End Page Content here -->
<!-- ============================================================== -->
