<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">User Details - <%= user.user_name %>
                </h4>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="username" class="form-label">User Name</label>
                            <input type="text" id="user_name" class="form-control" value="<%= user.user_name %>"
                                readOnly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" id="email" class="form-control" value="<%= user.users.email %>" readOnly>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone Number</label>
                            <input type="text" id="mobile" class="form-control" value="<%= user.users.mobile %>"
                                readOnly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="userRole" class="form-label">User Role</label>
                            <input type="text" id="user_type" class="form-control" value="<%= user.users.user_type %>"
                                readOnly>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="parent_id" class="form-label">Parent ID</label>
                            <input type="text" id="parent_id" class="form-control"
                                value="<%= user.user_data.parent_id %>" readOnly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="leftchild_id" class="form-label">Left Child ID</label>
                            <input type="text" id="leftchild_id" class="form-control"
                                value="<%= user.user_data.leftchild_id %>" readOnly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="rightchild_id" class="form-label">Right Child ID</label>
                            <input type="text" id="rightchild_id" class="form-control"
                                value="<%= user.user_data.rightchild_id %>" readOnly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="referral_by" class="form-label">Referral By</label>
                            <input type="text" id="referral_by" class="form-control"
                                value="<%= user.user_data.referral_by %>" readOnly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="coins" class="form-label">Coins</label>
                            <input type="text" id="coins" class="form-control" value="<%= user.user_data.coins %>"
                                readOnly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="pending_coins" class="form-label">Pending Coins</label>
                            <input type="text" id="pending_coins" class="form-control"
                                value="<%= user.user_data.pending_coins %>" readOnly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="upi_id" class="form-label">UPI ID</label>
                            <input type="text" id="upi_id" class="form-control" value="<%= user.user_data.upi_id %>"
                                readOnly>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>