<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">
                    <%= title %>
                </h4>

                <div class="row">
                    <div class="col-lg-12">
                        <form method="post" action="/admin/<%= module_slug %>/update/<%= userId %>"
                            enctype="application/x-www-form-urlencoded">
                            <div class="row">
                                <div class="col-lg-6 float-left">
                                    <div class="mb-3">
                                        <label for="simpleinput" class="form-label">User Name</label>
                                        <input type="text" id="simpleinput" name="user_name" class="form-control"
                                            value="<%= user.user_name %>">
                                    </div>
                                </div>
                                <div class="col-lg-6 float-left">
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" id="email" name="email" class="form-control"
                                            value="<%= user.email %>">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="referral_code" class="form-label">Referral Code</label>
                                        <input type="text" id="referral_code" class="form-control"
                                            value="<%= userData.referral_code %>">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="upi_id" class="form-label">UPI ID</label>
                                        <input type="text" id="upi_id" class="form-control"
                                            value="<%= userData.upi_id %>">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="parent_id" class="form-label">Parent ID</label>
                                        <input type="text" id="parent_id" class="form-control"
                                            value="<%= userData.parent_id %>">
                                    </div>
                                </div>


                            </div>




                            <div class="row">
                                <div class="col-lg-4 float-left">
                                    <button class="btn btn-primary" type="submit">Update</button>
                                </div>
                            </div>
                        </form>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>
