<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body table-responsive">
                <div class="row page_top_bar">
                    <div class="col-12">
                        <div class="col-6 heading float-left">
                            <h4 class="mt-0 header-title">Users</h4>
                        </div>
                        <div class="col-6 btns float-left text-right">
                            <a class="btn btn-primary" href="/admin/<%= module_slug %>/add">Add New</a>
                        </div>
                    </div>
                </div>

                <table id="responsive-datatable" class="table table-bordered table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>Created</th>
                            <th>User Type</th>
                            <th>Status</th>
                            <th>Screenshot</th>
                            <th>Actions</th>
                            <th>View</th> <!-- New View Column -->
                        </tr>
                    </thead>
                    <tbody>
                        <% let serialNumber=1; %>
                            <% users[0].forEach(user=> { %>
                                <tr id="user-row-<%= user.id %>">
                                    <td>
                                        <%= serialNumber++ %>
                                    </td>
                                    <td>
                                        <%= user.user_name %>
                                    </td>
                                    <td>
                                        <%= user.mobile %>
                                    </td>
                                    <td>
                                        <%= user.email %>
                                    </td>
                                    <td>
                                        <%= user.date_created %>
                                    </td>
                                    <td>
                                        <%= user.user_type %>
                                    </td>
                                    <td>
                                        <%= parseInt(user.status)===1 ? 'Active' : 'Inactive' %>
                                    </td>

                                    <td>
                                        <% if (user.pay_image) { %>
                                            <button class="btn btn-info view-image"
                                                data-image="https://telegram-bot-by30.onrender.com/uploads/<%= user.pay_image %>">
                                                View Screenshot
                                            </button>
                                            <% } else { %>
                                                No screenshot uploaded
                                                <% } %>
                                    </td>
                                    <td>
                                        <% if (parseInt(user.status)===1) { %>
                                            <!-- Deactivate Form - shown only when user is active -->
                                            <form action="/admin/users/update-status" method="POST"
                                                style="display:inline;">
                                                <input type="hidden" name="userId" value="<%= user.id %>">
                                                <input type="hidden" name="status" value="0">
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-toggle-off"></i> Deactivate
                                                </button>
                                            </form>
                                            <% } else { %>
                                                <!-- Activate Form - shown only when user is inactive -->
                                                <form action="/admin/users/update-status" method="POST"
                                                    style="display:inline;">
                                                    <input type="hidden" name="userId" value="<%= user.id %>">
                                                    <input type="hidden" name="status" value="1">
                                                    <button type="submit" class="btn btn-sm btn-success">
                                                        <i class="fas fa-toggle-on"></i> Activate
                                                    </button>
                                                </form>
                                                <% } %>
                                    </td>


                            <td class="action_box">
                                    <a href="/admin/<%= module_slug %>/<%= user.id %>"><i class="fe-eye"></i></a>
                                    <a href="/admin/user-tree-view/<%= user.id %>"><i class="fe-users"></i></a> <!-- User Tree View icon -->
                                    <a href="/admin/<%= module_slug %>/edit/<%= user.id %>"><i class="fe-edit"></i></a>
                                    <a href="/admin/<%= module_slug %>/delete/<%= user.id %>"><i class="fe-trash-2"></i></a>
                                </td>
                                </tr>
                                <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal for viewing images -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Image Screenshot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="modalImage" src="" alt="Screenshot" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

<!-- jQuery and Bootstrap JS (Ensure these are included) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        // Show modal with the clicked image
        $('.view-image').click(function () {
            var imageUrl = $(this).data('image');
            $('#modalImage').attr('src', imageUrl);
            $('#imageModal').modal('show');
        });
    });
</script>
